<table class="table">
{{#each}}
{{#view App.AlbumView}}
  <tr {{bind-attr class=":album error:error warning:warning"}}>
    <td class="arrow">{{view App.ToggleView}}</td>
    <td class="album-title title">{{title}}</td>
    <td class="artist">{{artist}}</td>
    {{#if error}}
      {{view App.RemoveView contentBinding=this}}
    {{else}}
    <td class="end"></td>
    {{/if}}
  </tr>
  {{#if view.open}}
    {{#each tracks}}
  <tr class="track">
    <td class="number">{{number}}</td>
    <td class="title">{{title}}</td>
    <td class="artist">{{artist}}</td>
    <td class="end"></td>
  </tr>
    {{/each}}
  {{/if}}
{{/view}}
{{/each}}
</table>
