<ul class="nav nav-tabs">
  <li class="nav-header"><a href="/">Importer</a></li>
  <li>1. Scan Dropbox for Tracks {{view App.StatusIcon resource='dropbox'}}</li>
  <li>2. Import Tracks{{view App.StatusIcon resource='import'}}</li>
  <li>3. Generate Traktor File{{view App.StatusIcon resource='traktor'}}</li>
  <li>4. Push Tracks to DJ Database{{view App.StatusIcon resource='push'}}</li>
  <li>{{view App.NextButton}}</li>
</ul>
